.small {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 93px;
    color: #4161F3;
}

.title {
    font-family: 'TT Interfaces';
    font-style: normal;
    font-weight: 700;
    margin-top: 12px;
    font-size: 42px;
    text-align: center;
    line-height: 52px;
    /* identical to box height */


    color: #000000;

}

.title span {
    color: #9659F6;
}

.subtitle {
    font-family: 'Inter';
    font-style: normal;
    max-width: 466px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    width: 100%;
    margin-top: 9px;
    text-align: center;

    color: #ABABB8;

}

.searchcontrol__container {
    margin-top: 55px;
    padding: 27px 0px;
    background: #FAFAFC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.altitle {
    font-family: 'TT Interfaces';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    margin: 0;
    color: #000000;

}

.bar__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bar__item__search {
    max-width: 360px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alsub {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    color: #ABABB8;
    max-width: 400px;
}

.dropdown__button {
    border: none;
    border-radius: 1000px;
    padding: 13px;
    display: grid;
    align-items: center;
    background-color: #5271FF;
}

.dropdown__container {
    position: relative;
    padding: 7px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 13px;
}

.dropdown__parent {
    min-width: 267px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown__child {
    display: flex;
    gap: 8px;
    align-items: center;
}

.dropdown__child__font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    opacity: 0.7;
}

.dropdown__img__container {
    margin-left: 22px;
    display: flex;
    align-items: center;
}

.ppl__img {
    position: absolute;
    top: -40px;
    right: calc(50vw - (311px / 2));
}

.dropwdown__item__container {
    position: absolute;
    left: 0px;
    bottom: -182px;
    display: flex;
    flex-direction: column;
    z-index: 200;
    position: absolute;
    margin-top: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
}


.dropdown {
    z-index: 200;
    position: absolute;
    margin-top: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
}

.dropwdown__item {
    z-index: 200;
    padding: 11px 26px;
    display: flex;
    gap: 8px;
}

.dropwdown__item span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    opacity: 0.7;
}

.dropwdown__item:not(:nth-last-of-type(1)) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bar__item__search__container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.search__inside__font {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;

    opacity: 0.6;
}

.search__inside__font span {
    cursor: pointer;
    color: #2F4ACF;
}

.bar__item__highlights {
    margin-top: -20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar__item__highlights span {
    margin-right: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    text-align: center;

    color: #A2A2B1;

}

.hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom__container {
    margin-top: 62px;
}

.results__top__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    margin-bottom: 58px;
}

.results__title {
    font-family: 'TT Interfaces';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 34px;

    color: #000000;
}

.results__small {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;

    opacity: 0.3;
}


.sort {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sort span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    opacity: 0.6;
}

.sort select {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #2F51EE;
    border: none;
}

.card__parent__container {
    max-width: 318px;
    cursor: pointer;
}

.card__text__container {
    padding: 23px 11px;
    background: #FAFAFC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
    border-top: none;
}

.coachcard__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

.card__title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.card__image__container {
    min-width: 318px;
    max-height: 138px;
    width: 100%;
    height: 100%;
    position: relative;
}

.coachcard__image {
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    margin-bottom: -4px;
}

.card__location {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #5A5A5A;
}

.coachcard__reviews__container {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
}

.coachcard__reviews__container span {
    margin-top: 3px;
}

.coachcard__bottom__container {
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 19px;
}

.coachcard__tags {
    display: flex;
    gap: 6px;
    align-items: center;
}

.coachcard__tag {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    /* or 122% */
    background: #9F54FF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2.5px;
    padding: 5px 10px;
}

.coachcard__bio {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    color: #ABABB8;
    margin: 0;
    margin-top: 12px;
}

.coachingcards__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 200px;

}

@media (max-width: 824px) {
    .bar__item__highlights {
        display: none;
    }

    .bar__container {
        flex-direction: column;
        align-items: center;
    }

    .altitle {
        text-align: center;
    }

    .alsub {
        text-align: center;
    }
}

@media (max-width: 352px) {

    .dropdown__parent {
        min-width: 180px;
    }
}